body {
  padding: 0px;
  margin :0px;
  background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav ul {
  width : 50%;
  height : 20px;
  display : flex;
  justify-content : space-around;
  float : right;
  flex : 1 1 0;
  list-style : none;
}
nav ul li a {
  text-decoration : none;
  color:white;
}
img {
  border-radius :50%;
  width : 15%;
  height : 15%;
  margin-left : 45%;
  margin-top: 4%;
}
.current {
  border-bottom: 4px solid white;
}

.home {
  font-family: VT323, monospace;
  letter-spacing: 1px;
  font-size : 40px;
  color : white;
  margin-left : 42%;
  text-transform: uppercase;
}
.header > p {
  margin-left : 30%;
  letter-spacing : 1px;
  color: white;
  font-size: 30px;
}
.icons {
  display : flex;
  margin-left : 20%;
  justify-content : space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-right : 20%;
}
a > span {
  font-size : 40px;
  color : white;
}
.icons > a {
  text-decoration: none;
}
.icons > a:hover {
  opacity : 0.5;
}
.about > p {
  padding-top : 5%;
  margin-top: 0px;
  margin-left : 10%;
  margin-right : 10%;
  letter-spacing : 2px;
  font-size: 1.5rem;
  font-family: 'B612 Mono', monospace;
}
.projects {
  padding-top : 5%;
  margin-top: 0px;
  margin-left : 40%;
}
.repositories{
  font-family: 'IBM Plex Sans', serif;
  margin : 32px 32px 0px 32px;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto ;
  justify-content: space-evenly;
}
.repo {
  text-align: left;
  margin : 10px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius : 1%;
  box-shadow : 0px 5px 20px rgb(71,71,71);
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.repo-title {
  font-size : 30px;
}
.repo-desc{
  margin-top : 1%;
  margin-bottom : 15%;
}
.button {
  border: none;
  padding: 8px 16px;
  border-radius : 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.github {
  position : absolute;
  bottom : 1%;
  margin-bottom : 2%;
  background : transparent;
  color: black; 
  border: 1px solid #4CAF50;
}
.github:hover {
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width : 420px) {
  nav ul{
    margin-right: 10%;
  }
  img {
    width : 30%;
    height : 30%;
    margin-top : 20%;
  }
  .home {
    margin-left : 30%;
    font-size: 30px;
  }
  .header > p {
    margin-left : 20%;
    font-size : 20px;
  }
  .icons {
    margin-left : 10%;
    margin-right : 2%;
  }
  .about > p{
    padding-top : 15%;
    font-size: 16px;
  }
  .repo {
    width : 40%;
  }
  .repo-title {
    font-size : 16px;
  }
  .repositories{
    display : grid;
    grid-template-columns: 500px;
    margin-left : 300px;
  }
  .repo-desc{
    font-size: 16px;
  }
  .button {
    padding : 4px 8px;
  }
  .projects {
    font-size : 16px;
    font-weight : bold;
    margin-top : 0px;
    padding-top: 10%;
    margin-left : 25%;
  }
}

@media screen and (min-width: 420px) and (max-width: 500px){
  .repositories{
    display: grid;
    grid-template-columns: 220px 220px;
    margin-left: 5px;
  }
}
@media screen and (min-width : 500px) and (max-width : 615 px){
  .repositories{
    display: grid;
    grid-template-columns: 300px 300px;
    margin-left: 10px;
  }
}